*{
    margin: 0px;
}
.container1{
    background-color: black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navcont a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 100px;
}
.button:hover{
    background-color: rgb(47, 44, 44);
    border-radius: 10px;
    padding: 5px 5px;
    border: solid;
    border-color: rgb(62, 60, 60);
}
.navcont{
    background-color: rgb(19, 19, 19);
    border: solid;
    border-color: rgb(55, 54, 54);
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 30px;
}
.button7:hover{
    background-color: rgb(47, 44, 44);
    border-radius: 10px;
    padding: 5px 5px;
    border: solid;
    border-color: rgb(62, 60, 60);
}
.button8:hover{
    background-color: rgb(47, 44, 44);
    border-radius: 10px;
    padding: 5px 5px;
    border: solid;
    border-color: rgb(62, 60, 60);
}
.button9:hover{
    background-color: rgb(47, 44, 44);
    border-radius: 10px;
    padding: 5px 5px;
    border: solid;
    border-color: rgb(62, 60, 60);
}
.logo{
    margin-top: 30px;
}
.navicons{
    margin-top: 30px;
}
.navicons i{
    margin-left: 10px;
}
.second2{
    background: url(./images/moviebg.png);
    height: 90vh;
    margin-top: 50px;
    width: 1800px;
    margin-left: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}
.second2 h1{
    color: white;
    padding-top: 540px;
    text-align: center;
    font-family: "Manrope", system-ui;
}
.second2 h3{
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: "Manrope", system-ui;
    font-weight: 200;
    padding-bottom: 30px;
}
.flex1{
    margin-left: 770px;
}
.movbut{
    color: white;
    font-size: 20px;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.aa{
    background-color: black;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.flex2{
    margin-top: 30px;
}
.bb{
    background-color: black;
    padding: 20px 20px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.moving{
    margin-left: 800px;
}
.cc{
    background-color: black;
    padding: 20px 20px;
    border-radius: 10px;
    margin-left: 780px;
    cursor: pointer;
}
.btn5{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 150px;
    font-size: 25px;
    margin-left: 100px;
}
.flex3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex3 h1{
    color: white;
    font-family: "Manrope", system-ui;
    margin-left: 100px;
    margin-top: 30px;
}
.inflex{
    background-color: rgb(27, 26, 26);
    margin-right: 100px;
    padding: 10px 20px;
    border-radius: 10px;
}
.bc{
    background-color: rgb(52, 51, 51) ;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 10px;
    cursor: pointer;
}
.cd{
    background-color: rgb(52, 51, 51) ;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 10px;
    cursor: pointer;
}
.flex4{
    display: grid;
    grid-template-columns: repeat(5,370px);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-left: 60px;
    margin-top: 40px;
}
.maina{
    background-color: rgb(66, 69, 69);
    height: 380px;
    opacity: 75%;
    border-color: #696868;
}
.mainb{
    background-color: rgb(66, 69, 69);
    height: 380px;
    opacity: 75%;
    border-color: #696868;
}
.mainc{
    background-color: rgb(66, 69, 69);
    height: 380px;
    opacity: 75%;
    border-color: #696868;
}
.maind{
    background-color: rgb(66, 69, 69);
    height: 380px;
    opacity: 75%;
    border-color: #696868;
}
.maine{
    background-color: rgb(66, 69, 69);
    height: 380px;
    opacity: 75%;
    border-color: #696868;
}
.flex4 img{
    width: 300px;
    padding-top: 20px;
    margin-left: 35px;
    height: 300px;
}
.abt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px;
}
.abt h1{
    font-size: 20px;
    font-weight: 100;
    color: white;
}
.maina:hover{
    opacity: 100%;
}
.mainb:hover{
    opacity: 100%;
}
.mainc:hover{
    opacity: 100%;
}
.maind:hover{
    opacity: 100%;
}
.maine:hover{
    opacity: 100%;
}
.maina:hover h1{
    font-size: 25px;
}
.mainb:hover h1{
    font-size: 25px;
}
.mainc:hover h1{
    font-size: 25px;
}
.maind:hover h1{
    font-size: 25px;
}
.maine:hover h1{
    font-size: 25px;
}
.abt button{
    background-color: orangered;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}
.flex5{
    display: grid;
    grid-template-columns: repeat(4,463px);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-left: 60px;
    margin-top: 40px; 
}
.flex5 img{
    width: 400px;
    padding-top: 20px;
    margin-left: 35px;
    height: 300px;
}
.blo{
    margin-top: -20px;
}
.trd{
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    padding: 10px 10px;
}
.abt a{
    color: gainsboro;
    text-decoration: none;
}
#ina{
    margin-top: 40px;
}
.abta{
    background-color: rgb(46, 45, 45);
    padding: 10px 10px;
    border-radius: 20px;
}
.abta a{
    margin-left: 80px;
    text-decoration: none;
    color: gainsboro;
}
.abt img{
    height: 20px;
    width: 350px;
    margin-top: -20px;
}
footer{
    background-color: #121212;
    height: 40vh;
}
.footcont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    color: white;
}
.footcont h1{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 40px;
}
.footcont li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 100;
    color: gainsboro;
}
.head5{
    margin-top: 150px;
    height: 60vh;
}
.a{
    height: 70px;
    background: url(./images/Image\ Container1.png);
    opacity: 25%;
}
.b{
    height: 150px;
    background: url(./images/Image\ Container\ 2.png);
    filter: brightness(70%); 
}
.c{
    height: 150px;
    background: url(./images/Image\ Container\ 3.png);
    filter: brightness(70%);
}
.d{
    height: 70px;
    background: url(./images/imagecontainer4.png);
    opacity: 25%;
}
.c h2{
    color: white;
    margin-left: 90px;
    padding-top: 20px;
}
.b h1{
    color: white;
    margin-left: 90px;
    padding-top: 100px;
}
.c button{
    background-color: #f25319;
    color: white;
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 1600px;
    margin-top: -190px;
    cursor: pointer;

}
.c button:hover{
    font-size: 30px;
}
.bottom{
    display: flex;
    color: gainsboro;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 100;
}
.bottom1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
}
.bottom1 h4{
    margin-left: 30px;
}
.cont6i{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.lst{
    margin-right: 20px;
}
@media (max-width:760px){
    .navcont{
        margin-left: -20px;
     }
     .navicons{
         display: none;
     }
     .logo{
         display: none;
     }
     .second2{
        width: 700px;
        margin-right: 80px;
        margin-left: -10px;
     }
     .flex1{
        display: none;
     }
     .flex2{
        display: none;
     }
     .inflex{
        display: none;
     }
     .flex4{
        display: grid;
        grid-template-columns: repeat(1,370px);
        grid-template-rows: auto;
        row-gap: 10px;
     }
     .flex5{
        display: grid;
        grid-template-columns: repeat(1,470px);
        grid-template-rows: auto;
        row-gap: 10px;
     }
     .footcont{
        display: block;
    }
    footer{
        height: 130vh;
    }
    .bottom{
        display: block;
    }
    .bottom h4{
        text-align: center;
    }
}